html {
    width: 400px;
    height: 220px;
}

        /* IF SERVER IS OK */

#available {
    display: none;
}

#available .btn {
    background-color: #0e83cd;
}

#available > div {
    height: 100%;
    text-align: center;
}


        /* ERRORS */

.experiment-form__error {
    display: none;
    color: #D32F2F;
    margin : 15px auto;
}

        /* ENTER FORM */

#available .enter-form__wrapper .enter-form__header {
    display: block;
    margin-top: 15px;
    color: grey;
    font-size: 18px;
}

#available .enter-form__wrapper button {
    display: block;
    margin: auto;
}


/* NAVIGATION */

.content .content__navigation {
    display: none;
    background-color: #0e83cd;
}

.content .content__navigation .brand-logo {
    margin-left: 10px;
}

.content__current-experiment {
    display: none;
    margin: 15px auto;
    text-align: center;
    font-size: 18px;
}



        /* TABS */

#content-tabs, #analytics-tabs {
    padding-left: 0;
    padding-right: 0;
}

#content-tabs__crud, #content-tabs__analytics {
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
}

#content-tabs__analytics {
    margin-top: 10px;
}

#content-tabs__analytics .canvasjs-chart-credit {
    display: none;
}

#total-sessions .collection-item, #abandoned-sessions .collection-item, #continued-sessions .collection-item {
    text-align: left;
}

#total-sessions-chart, #abandoned-sessions-chart, #continued-sessions-chart {
    margin-top: 5px;
    max-height: 210px;
    height: 200px;
    width: 100%;
}
.total-sessions-table, .abandoned-sessions-table, .continued-sessions-table {
    display: block;
}

.tabs .indicator {
    color: black;
}


        /* MAIN CONTENT */

.content #content__create_experiment {
    display: none;
    width: 100%;
    margin: 0 auto 25px;
}

.content__experiments-collection {
    display: none;
    margin-bottom: 0;
    height: 1%;
    border: 1px transparent solid;
    overflow: auto;
    color: #0e83cd;
}

.collection .collection-item {
    cursor: pointer;
    color: #0e83cd;
    padding: 30px;
    padding-top: 5px;
}

.content__experiments-header {
    font-size: 18px;
    display: block;
    margin-bottom: 20px;
}


.content-auth-success {
    display: none;
}



        /* INPUTS */

.date-pick {
    position: relative;
}

.content__experiment-form {
    display: none;
}

.content__experiment-form label {
    left: 0;
}

#edit_mode, #experiment-form__create {
    margin: 0 auto;
    margin-bottom: 15px;
}

#experiment-form__save {
    width: 110px;
    margin-left: 25px;
}

#experiment-form__save, #experiment-form__cancel {
    margin-bottom: 20px;
}

#experiment-form__name {
    display: block;
    margin-top: 20px;
}

.input-field, .date-pick {
    margin: 0 10px 10px;
}

/* label color */
#available .content .content__experiment-form .input-field label {
    color: #757575  ;
}
/* label focus color */
#available .content .content__experiment-form .input-field input[type=text]:focus + label {
    color:#1e88e5  ;
}
/* label underline focus color */
#available .content .content__experiment-form .input-field input[type=text]:focus {
    border-bottom: 1px solid #90caf9;
    box-shadow: 0 1px 0 0 #000000 ;
}

#enter-form__validate.input-field input[type=text]:focus + label {
    color:#1e88e5  ;
}
/* label underline focus color */
#enter-form__validate.input-field input[type=text]:focus {
    border-bottom: 1px solid #90caf9;
    box-shadow: 0 1px 0 0 #000000 ;
}

#enter-form__validate.input-field input[type=text].valid {
    border-bottom: 1px solid #1e88e5;
    box-shadow: 0 1px 0 0 #000000 ;
}

/* valid color */
#available .content__experiment-form .input-field input[type=text].valid {
    border-bottom: 1px solid #1e88e5;
    box-shadow: 0 1px 0 0 #000000 ;
}
/* invalid color */
#available .content__experiment-form .input-field input[type=text].invalid {
    border-bottom: 1px solid #ff6e40 ;
    box-shadow: 0 1px 0 0 #000000 ;
}
/* icon prefix focus color */
#available .content__experiment-form .input-field .prefix.active {
    color: #757575 ;
}



        /* PRELOADER */

.preloader-wrapper {
    margin-top: 100px;
}

.experiments-preloader {
    margin-top: 0;
}



        /* IF SERVER IS NOT RESPONDING */

.unavailable {
    margin: 0 auto;
    display: block;
    text-align: center;
}

.unavailable p {
    margin-top: 50px;
    font-size: 18px;
    font-weight: 400;
}
